$primary-color: #eb1b24;
$secondary-color: #fff;
$third-color: #000;
$forth-color: #24a0ed;
/**Button add radius**/
$border-radius: 6px;
$padding-add: 18px 20px;

$padding-read: 25px 50px;

/***padding for order student****/
$padding-order: 8px 12px;
/**** variable for delete button****/
$padding-delete: 6px 12px;
$delete-color: #24a0ed;

/**** delete btn****/
$padding-submit: 12px 20px;
