@import "./style/button";
thead th,
tfoot th {
  font-family: "Rock Salt", cursive;
}

.App {
  margin: 2rem;
  .navbar {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    .nav__logo {
      color: $primary-color;
      font-size: 3rem;
    }
    .navbar__page__wrapper {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .nav__list {
        padding: 20px;
        font-size: 20px;
        .nav__list__item {
          color: $third-color;
          font-size: 25px;
        }
      }
    }
    .navbar__btn__wrapper {
      align-items: center;
      .nav__btn {
        font-size: 20px;
      }
    }
  }
  .landing {
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    position: relative;
    .landing__text {
      width: 50%;
      .landing__text__p {
        line-height: 1.6;
      }
      .landing__btn {
        font-size: 20px;
      }
    }
    .landing__img__wrapper {
      .after__image {
        width: 300px;
        height: 300px;
        position: relative;
        background-color: $primary-color;
        z-index: -1;
        transform: rotate(-13.95deg);
      }
      .landing__img {
        width: 300px;
        height: 300px;
        margin-left: 50px;
        position: absolute;
      }
    }
  }
  .student__sort__wrapper {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    margin-right: 6rem;
    .order {
      margin-right: 1rem;
      font-size: 13px;
      .select__order {
        padding: $padding-order;
        cursor: pointer;
        background-color: $secondary-color;
        border-radius: 4px;
        .order__opt {
          background-color: #fff;
          font-size: 15px;
        }
      }
      .select__order:hover,
      .select__order:focus {
        outline: none;
        border: 1px solid black;
      }
    }
    .sort {
      margin-right: 1rem;
      font-size: 13px;
      .select__sort {
        padding: $padding-order;
        cursor: pointer;
        background-color: $secondary-color;
        border-radius: 4px;
        .sort__opt {
          background-color: #fff;
          font-size: 15px;
        }
      }
    }
    .select__sort:hover,
    .select__sort:focus {
      outline: none;
      border: 1px solid black;
    }
  }
  .student {
    margin: auto;
    text-align: center;
    table-layout: fixed;
    margin-top: 1rem;
    width: 80%;
    border: 1px solid $third-color;
    .student__head {
    }
  }
  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
